
@model IEnumerable<CentroCapacitacionEmergencias.Models.Participante>

@{
    var detalle = ViewBag.ParticipanteDetalle as CentroCapacitacionEmergencias.Models.Participante;
    var cursos = ViewBag.Cursos as List<CentroCapacitacionEmergencias.Models.Curso>;
    var cohortes = ViewBag.Cohortes as List<CentroCapacitacionEmergencias.Models.Cohorte>;
}


@{
    var usuario = @Session["UserName"];
    var rol = @Session["UserRole"] as string;
}

<h2 class="mb-4">Lista de Participantes</h2>

<div class="mb-3">
    <a href="@Url.Action("Create","Participantes")" class="btn btn-primary">
        Nuevo Participante
    </a>
</div>

<table class="table table-striped table-bordered">

    @using (Html.BeginForm("ListaParticipantes", "Participantes", FormMethod.Get))
    {
        <div class="row mb-3">

            <div class="col-md-4">

                <input type="text"
                       name="nombre"
                       class="form-control"
                       placeholder="Buscar por nombre"
                       value="@Request["nombre"]" />

            </div>

            <div class="col-md-4">

                <input type="text"
                       name="cedula"
                       class="form-control"
                       placeholder="Buscar por cédula"
                       value="@Request["cedula"]" />

            </div>

            <div class="col-md-2">

                <button type="submit" class="btn btn-primary">
                    Buscar
                </button>

            </div>

        </div>
    }

    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Identificación</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Provincia</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.NombreCompleto</td>
                <td>@item.Identificacion</td>
                <td>@item.Correo</td>
                <td>@item.Telefono</td>
                <td>@item.Provincia</td>

                <td>
                    <a href="@Url.Action("ListaParticipantes", new { detalleId = item.Id })"
                       class="btn btn-sm btn-info">
                        Detalles
                    </a>

                    @if (usuario != null && rol == "Administrador")
                    {
                        <a href="@Url.Action("Editar","Participantes", new { id = item.Id })"
                           class="btn btn-sm btn-warning">
                            Editar
                        </a>


                        <a href="@Url.Action("Delete","Participantes", new { id = item.Id })"
                           class="btn btn-sm btn-danger">
                            Eliminar
                        </a>

                    }


                </td>
            </tr>
        }

    </tbody>

</table>

@if (detalle != null)
{

    <div class="modal fade show" style="display:block;" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Detalle del Participante</h5>
                    <a href="@Url.Action("ListaParticipantes")" class="btn-close"></a>
                </div>

                <div class="modal-body">

                    <p><strong>Nombre:</strong> @detalle.NombreCompleto</p>

                    <p><strong>Identificación:</strong> @detalle.Identificacion</p>

                    <p><strong>Correo:</strong> @detalle.Correo</p>

                    <p><strong>Teléfono:</strong> @detalle.Telefono</p>

                    <p><strong>Provincia:</strong> @detalle.Provincia</p>

                    <p><strong>Cantón:</strong> @detalle.Canton</p>

                    <p><strong>Distrito:</strong> @detalle.Distrito</p>

                    <p><strong>Estado Civil:</strong> @detalle.EstadoCivil</p>

                    <p><strong>Dirección:</strong> @detalle.DetalleDireccion</p>


                    <hr />
                    @if (cohortes != null && cohortes.Any())
                    {

                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>Cohorte</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Final</th>
                                    @if (usuario != null && rol == "Administrador")
                                    { 
                                    <th>Acciones</th>
                                    }
                                    </tr>
                            </thead>

                            <tbody>

                                @foreach (var cohorte in cohortes)
                                {
                                    <tr>
                                        <td>@cohorte.Nombre</td>
                                        <td>@cohorte.FechaInicio</td>
                                        <td>@cohorte.FechaFin</td>


                                        @if (usuario != null && rol == "Administrador")
                                        {
                                            <td>
                                                <a href="@Url.Action("RemoverCohorte","Participantes", new { idCohorte = cohorte.Id,idParticipante = detalle.Id})"
                                                   class="btn btn-sm btn-warning">
                                                    Remover Cohorte
                                                </a>
                                            </td>
                                        }




                                    </tr>
                                }

                            </tbody>

                        </table>

                    }
                    else
                    {

                        <div class="alert alert-info">
                            Este participante no tiene cohortes asignados.
                        </div>

                    }

                    <hr />
                    <h5>Cursos asignados</h5>

                    @if (cursos != null && cursos.Any())
                    {

                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>Curso</th>
                                    <th>Código</th>
                                    <th>Horas Prácticas</th>
                                    @if (usuario != null && rol == "Administrador")
                                    {
                                        <th>Acciones</th>
                                    }
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var curso in cursos)
                                {
                                    <tr>
                                        <td>@curso.Titulo</td>
                                        <td>@curso.CodigoCurso</td>
                                        <td>@curso.HorasPracticas</td>
                                        @if (usuario != null && rol == "Administrador")
                                        {
                                            <td>
                                                <a href="@Url.Action("RemoverCurso","Participantes", new { idCurso = curso.Id,idParticipante = detalle.Id})"
                                                   class="btn btn-sm btn-warning">
                                                    Remover Curso
                                                </a>
                                            </td>
                                        }
                                    </tr>
                                }

                            </tbody>

                        </table>

                    }
                    else
                    {

                        <div class="alert alert-info">
                            Este participante no tiene cursos asignados.
                        </div>

                    }

                </div>

               

            </div>
        </div>
    </div>

    <div class="modal-backdrop fade show"></div>

}



