
@model CentroCapacitacionEmergencias.ViewModels.CohorteViewModel


@if (Model.Cohorte.Id == 0)
{
    <h2>
        Crear Cohorte
    </h2>
}
else
{
    <h2>
        Modificar Cohorte
    </h2>
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <strong>Por favor corrija los siguientes errores:</strong>
        @Html.ValidationSummary(false)
    </div>
}

@using (Model.Cohorte.Id != 0 ? Html.BeginForm("EditarCohorte", "Cohortes", FormMethod.Post) : Html.BeginForm())
{
    <div class="card p-4 shadow-sm">
        
        @Html.HiddenFor(m => m.Cohorte.Id)

        <div class="mb-3">
            <label>Nombre de Cohorte</label>
            @Html.TextBoxFor(m => m.Cohorte.Nombre, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Cohorte.Nombre, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <label>Fecha Inicio</label>
            @Html.TextBoxFor(m => m.Cohorte.FechaInicio, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
        </div>

        <div class="mb-3">
            <label>Fecha Fin</label>
            @Html.TextBoxFor(m => m.Cohorte.FechaFin, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
        </div>

        @if (Model.Cohorte.Id != 0)
        {
            <button type="submit" class="btn btn-warning">
                Modificar Cohorte
            </button>

        }
        else
        {
            <button type="submit" class="btn btn-primary">
                Crear Cohorte
            </button>
        }
        <br />
        <a href="@Url.Action("Lista","Cohortes")" class="btn btn-secondary">
            Cancelar
        </a>

    </div>

}



