
@model CentroCapacitacionEmergencias.ViewModels.CohorteViewModel

@{
    ViewBag.Title = "ListaCohortes";
}

@{
    var usuario = @Session["UserName"];
    var rol = @Session["UserRole"] as string;
}

<h2>ListaCohortes</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
        <button class="btn btn-sm btn-outline-dark"
                onclick="this.closest('.alert').remove()">
            ✖
        </button>
    </div>
}

<table class="table table-striped table-bordered w-100">



    <thead class="table-dark ">
        <tr>
            <th>Nombre</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            @if (usuario != null && rol == "Administrador")
            {
                <th>Acciones</th>
            }
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.Cohortes)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.FechaInicio.ToString("dd/MM/yyyy")</td>
                <td>@item.FechaFin.ToString("dd/MM/yyyy")</td>
                @if (usuario != null && rol == "Administrador")
                {
                    <td>

                        <a href="@Url.Action("Editar","Cohortes", new { id = item.Id })"
                           class="btn btn-sm btn-warning">
                            Editar
                        </a>

                        @if (item.Archivado == true)
                        {
                            <a href="@Url.Action("Delete","Cohortes", new { id = item.Id })"
                            class="btn btn-sm btn-danger">
                                Archivar
                            </a>
                        }


                        @if (item.Archivado == false)
                        {
                            <a href="@Url.Action("Delete","Cohortes", new { id = item.Id })"
                               class="btn btn-sm btn-primary">
                                Desarchivar
                            </a>
                        }

                    </td>
                }
            </tr>
        }
    </tbody>

</table>

<a href="@Url.Action("Index", "Home")"
   class="btn btn-secondary w-100">
    Ir al Dashboard
</a>