@{
    ViewBag.Title = "Home Page";
}

@{
    var usuario = @Session["UserName"];
    var rol = @Session["UserRole"] as string;
}

<a href="/Auth/Logout">Cerrar Sesión</a>

<div class="container mt-5">
    <div class="card shadow p-4" style="border-radius:15px;">

        <div class="mb-4">
            <h3 class="fw-bold">Dashboard</h3>
            <p class="text-muted">Bienvenido al Centro de Capacitación de Emergencias</p>
            <p class="text-muted">
                Bienvenido @usuario
            </p>
        </div>

        @if (usuario != null && rol == "Administrador")
        {
            <div class="mb-3">
                <a href="@Url.Action("Create", "Participantes")"
                   class="btn btn-primary w-100">
                    Registrar Nuevo Participante
                </a>
            </div>
            <div class="mb-3">
                <a href="@Url.Action("Create", "Cohortes")"
                   class="btn btn-primary w-100">
                    Registrar Nuevo Cohorte
                </a>
            </div>
            <div class="mb-3">
                <a href="@Url.Action("Create", "Cursos")"
                   class="btn btn-primary w-100">
                    Registrar Nuevo Curso
                </a>
            </div>
        }

        @if (usuario != null && rol == "Instructor")
        {
            <div class="mb-3">
                <a href="@Url.Action("Lista", "ListaAnimales")"
                   class="btn btn-primary w-100">
                    Modulo Participantes
                </a>
            </div>
        }

    </div>
</div>