
@{
    ViewBag.Title = "Index";
}

@{
    var EvaluacionesCohorte = ViewBag.EvaluacionCohortes;
    var Cursos = ViewBag.Cursos;
    var ParticipantesCurso = ViewBag.ParticipantesCurso;
    var participantesCohorte = ViewBag.ParticipantesCohorte;
    var TasaAprobacion = ViewBag.TasaAprobacion;
    var Certificados = ViewBag.Certificados;
    var Horas = ViewBag.Horas;
    var Destrezas = ViewBag.Destrezas;
    var Puntos = ViewBag.Puntos;
}


<h2>Como Instructor del Curso </h2>

<h2>Evaluaciones </h2>

<table class="table table-striped table-bordered w-100">


    <thead class="table-dark ">
        <tr>
            <th>Participante</th>
            <th>Curso</th>
            <th>Destreza</th>
            <th>TiempoRespuesta</th>
            <th>Puntaje Final</th>
            <th>Fallas Críticas</th>
            <th>Aprobación</th>
            <th>Instructor</th>
            <th>Fecha</th>
            <th>Estado</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in EvaluacionesCohorte)
        {
            <tr>
                <td>@item.ParticipanteId</td>
                <td>@item.CursoId</td>
                <td>@item.DestrezaId</td>
                <td>@item.TiempoRespuesta</td>
                <td class="@(item.PuntajeFinal < 70 ? "bg-danger" : "bg-success")">@item.PuntajeFinal</td>

                @if (item.TieneFallaCritica)
                {
                    <td class="bg-danger">Si</td>
                }
                else
                {
                    <td class="bg-success">No</td>
                }

                @if (item.AprobadoPorInstructor)
                {
                    <td class="bg-success">Si</td>
                }
                else
                {
                    <td class="bg-danger">No</td>
                }

                <td>@item.InstructorNombre</td>


                <td>@item.FechaRegistro.ToString("dd/MM/yyyy")</td>

                @if (item.PuntajeFinal > 70)
                {
                    <td class="bg-success">Dominada</td>
                }

                @if (item.PuntajeFinal == 0)
                {
                    <td>En Progreso</td>
                }
                @if (item.PuntajeFinal <= 70)
                {
                    <td class="bg-warning">Requiere Refuerzo</td>
                }

            </tr>
        }
    </tbody>

</table>

<h2>Participantes por Curso </h2>

<table class="table table-striped table-bordered w-100">


    <thead class="table-dark ">
        <tr>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Correo</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in ParticipantesCurso)
        {
            <tr>
                <td>@item.Identificacion</td>
                <td>@item.NombreCompleto</td>
                <td>@item.Correo</td>
            </tr>
        }
    </tbody>

</table>

<h2>Participantes por Cohorte </h2>

<table class="table table-striped table-bordered w-100">


    <thead class="table-dark ">
        <tr>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Correo</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in participantesCohorte)
        {
            <tr>
                <td>@item.Identificacion</td>
                <td>@item.NombreCompleto</td>
                <td>@item.Correo</td>
            </tr>
        }
    </tbody>

</table>

<h2>Panel de estadisticas </h2>

<table class="table table-striped table-bordered w-100">


    <thead class="table-dark ">
        <tr>
            <th>Estadística Requerida</th>
            <th>Criterio de Medición</th>
        </tr>
    </thead>

    <tbody>


        <tr>
            <td>Tasa Global de Aprobación de Destrezas</td>
            <td class=@(TasaAprobacion < 70 ? "bg-danger" : "bg-success")>@TasaAprobacion</td>
        </tr>

        <tr>
            <td>Estado de Certificación</td>
            <td>
                @(Certificados + " Horas de Capacitación: " + Horas)
            </td>

        </tr>

    </tbody>

</table>

<h2>Panel de Destrezas </h2>

<table class="table table-striped table-bordered w-100">


    <thead class="table-dark ">
        <tr>
            <th>Titulo</th>
            <th>Descripcion</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Destrezas)
        {
            <tr>
                <td>@item.Titulo</td>
                <td>@item.Descripcion</td>
            </tr>
        }
    </tbody>

</table>

<h2>Puntos de Control Evaluados </h2>

<table class="table table-striped table-bordered w-100">


    <thead class="table-dark ">
        <tr>
            <th>Descripcion</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Puntos)
        {
            <tr>
                <td>@item.Descripcion</td>
            </tr>
        }
    </tbody>

</table>



<a href="@Url.Action("Index", "Home")"
   class="btn btn-secondary w-100">
    Ir al Dashboard
</a>